<!-- <div class="footer navbar-fixed">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="w3ls-social-icons-2">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
            </div>
            <div class="copyrights">
                <p>&copy; 2017 All rights reserved | Design by <a href="#">DutchAngleCreations</a></p>
            </div>
        </div>
    </div>
</div> -->
<!-- footer -->


<!-- <div class="row">
<div class="footer">
    <div class="container-fluid">
        <div class="w3_agile_footer_grids">
            <ul class="col-md-3 col-xs-6 w3_agile_footer_grid right">
                <h3>Our Services</h3>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Monday</li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Tuesday</li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Wednesday</li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Thursday</li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Friday</li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Saturday</li>
                <li><span class="fa fa-clock-o" aria-hidden="true"></span>Sunday</li>
            </ul>
            <div class="col-md-3 col-xs-6 w3_agile_footer_grid">
                <h3>Navigation</h3>
                <ul class="agileits_w3layouts_footer_grid_list">
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a routerLink="/">Services</a>
                    </li>
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a routerLink="/">Gallery</a>
                    </li>
                    <li>
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <a routerLink="/">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6 w3ls_address_mail_footer_grids w3_agile_footer_grid">
                <h3>Reach Us</h3>
                <div class="w3ls_footer_grid_left">
                    <div class="w3l-icon">
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                    </div>
                    <p>Choolaimedu,
                        <span>Chennai 94.</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="w3ls_footer_grid_left">
                    <div class="w3l-icon">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                    </div>
                    <p>979748636
                        <span>123456789</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="w3ls_footer_grid_left">
                    <div class="w3l-icon">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    </div>
                    <p>
                        <a href="#">radhakrishnan1125@gmail.com</a>
                        <span>
                            <a href="mailto:info@example.com">mail@example2.com</a>
                        </span>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 w3_agile_footer_grid">
                <h3>Instagram Posts</h3>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="assets/1.jpg" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="assets/2.jpg" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="assets/3.jpg" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="assets/a.jpg" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="assets/b.jpg" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="w3_agileits_footer_grid_left">
                    <a href="#">
                        <img src="assets/post6.jpg" alt=" " class="img-responsive" />
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="agileinfo_copyright">
            <p>© 2018 DutchAngleCreations. All Rights Reserved | Design by <a href="#">RK</a>
            </p>
        </div>
    </div>
</div>
</div> -->


		<!-- Footer -->
		<div class="footer agileits-w3layouts">
			<div class="container">

				<div class="footer-top w3layouts">
					<div class="footer-grids w3l-agile">
						<div class="col-md-3 col-sm-3 address agileinfo">
							<h5>Address</h5>
								<ul>
									<li>No 6 Vivenkanandar street</li>
									<li>Dubai</li>
									<li>Kuruku Sandu</li>
									<li>Dubai Bus stand</li>
									<li>Mail : <a href="mailto:mail@example.com">1234@example.com</a></li>
								</ul>
						</div>
						<div class="col-md-3 col-sm-3 contact agileinfo">
							<h5>Phone</h5>
							<div class="phone">
								<p>9790748636</p>
								<p>1234567890</p>
							</div>

							<div class="mail wthree">
								<form action="#" method="post">
									<input type="text" name="Email Address" placeholder="Email Address" required="">
									<input type="submit" value="Subscribe">
								</form>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-6 col-sm-6 connect agileinfo">
							<h5>Connect</h5>
							<div class="connect-social w3-agileits">
								<ul>
									<li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
									<li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="footer-bottom w3l-agile">
						<div class="footer-nav w3l">
							<ul>
								<li><a class="scroll" routerLink="/">Home</a></li>
								<li><a class="scroll" routerLink="/">Services</a></li>
								<li><a class="scroll" routerLink="/">Gallery</a></li>
								<li><a class="scroll" routerLink="/">Contact</a></li>
							</ul>
						</div>
						<div class="copyright wthree">
							<p>&copy; 2018. All Rights Reserved | Design by  RK </p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

			</div>
		</div>
		<!-- //Footer -->