<div class="footer navbar-fixed">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="w3ls-social-icons-2">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
            </div>
            <div class="copyrights">
                <p>&copy; 2017 All rights reserved | Design by <a href="#">DutchAngleCreations</a></p>
            </div>
        </div>
    </div>
</div>