<p>
  {{ type.name }} is displaying!!
</p>
<app-sidebar></app-sidebar> 
<!-- <div class="container">
  <div id="main_area">
      <div class="row">
          <div class="col-sm-6 col-xs-12" id="slider-thumbs">
              <ul class="hide-bullets">
                  <li class="col-sm-3 col-xs-4" *ngFor="let data of imagebox; let i = index" style="cursor: pointer;">
                      <a class="thumbnail"  id= "{{'carousel-selector-' + i }}" (click)="onSelectImage(i)">
                          <img  id= "{{ 'ig' + i }}" class="img-responsive" src= "{{ data.imglink }}" >
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-sm-6 col-xs-12">
              <div class="col-sm-12 col-xs-12" id="slider">
                  <div class="row">
                      <div class="col-sm-12" id="carousel-bounding-box">
                          <div class="carousel slide" id="myCarousel">
                              <div class="carousel-inner" style="max-height:600px">
                                  <div *ngFor="let data of imagebox;let j = index"  class="{{ j == 0 ? 'active item' : 'item'}}" [attr.data-slide-number]= "j">
                                      <img src= "{{ data.imglink }}"></div>
                              </div>
                              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="clear">
    <hr>
</div>
<div id="myimgModal" class="modal">
        <span class="close" (click)="onModalClose()">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
</div> -->
<!-- <h3 *ngFor="let data of imagebox; let i = index"> {{ data.imglink }} </h3> -->

<div id="carousel" style="bottom:50px">
    <ul>
          <li *ngFor="let data of imagebox; let i = index">
              <img src="{{ data.imglink }}" style="max-height:150px;max-width:150px">
          </li>
    </ul>
</div>
<!-- <div class="container" style="height:750px;max-height:600px;margin-left:400px;margin-bottom:50px">
        <img id="bigimg" class="img-responsive" style="width:50%">
</div> -->
    <img id="bigimg" class="img-responsive" style="margin-bottom:50px;overflow:hidden">


    <!-- <div style="display:inline-block">
        <img id="bigimg" style="width:60%">
    </div> -->
 
