<p>
  {{ type.name }} is displaying!!
</p>
<app-sidebar></app-sidebar> 
<div class="container">
  <div id="main_area">
      <!-- Slider -->
      <div class="row">
          <div class="col-sm-6 col-xs-12" id="slider-thumbs">
              <!-- Bottom switcher of slider -->
              <ul class="hide-bullets">
                  <li class="col-sm-3 col-xs-4" *ngFor="let data of imagebox; let i = index" style="cursor: pointer;">
                      <a class="thumbnail"  id= "{{'carousel-selector-' + i }}" (click)="onSelectImage(i)">
                          <img  id= "{{ 'ig' + i }}" class="img-responsive" src= "{{ data.imglink }}" >
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-sm-6 col-xs-12">
              <div class="col-sm-12 col-xs-12" id="slider">
                  <!-- Top part of the slider -->
                  <div class="row">
                      <div class="col-sm-12" id="carousel-bounding-box">
                          <div class="carousel slide" id="myCarousel">
                              <!-- Carousel items -->
                              <div class="carousel-inner" style="max-height:600px">
                                  <div *ngFor="let data of imagebox;let j = index"  class="{{ j == 0 ? 'active item' : 'item'}}" [attr.data-slide-number]= "j">
                                      <img src= "{{ data.imglink }}"></div>
                              </div>
                              <!-- Carousel nav -->
                              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--/Slider-->
      </div>
  </div>
</div>
<div class="clear">
    <hr>
</div>
<div id="myimgModal" class="modal">
        <span class="close" (click)="onModalClose()">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
<!-- <script>
  jQuery(document).ready(function($) {

$('#myCarousel').carousel({
       interval: 1000
});

//Handles the carousel thumbnails
$('[id^=carousel-selector-]').click(function () {
var id_selector = $(this).attr("id");
try {
   var id = /-(\d+)$/.exec(id_selector)[1];
   console.log(id_selector, id);
   jQuery('#myCarousel').carousel(parseInt(id));
} catch (e) {
   console.log('Regex failed!', e);
}
});
// When the carousel slides, auto update the text
$('#myCarousel').on('slid.bs.carousel', function (e) {
        var id = $('.item.active').data('slide-number');
       $('#carousel-text').html($('#slide-content-'+id).html());
});
});
</script>  -->
