<div id="carousel">
    <ul>
        <li >
            <img src="assets/a.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/b.jpg" style="max-height:300px;max-width:300px">
         </li>
        <li>
            <img src="assets/c.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/4.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/footer.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/s1.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/s4.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/a.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/b.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/c.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/4.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/s1.jpg" style="max-height:300px;max-width:300px">
        </li> 
        <li>
            <img src="assets/s4.jpg" style="max-height:300px;max-width:300px">
        </li>
        <li>
            <img src="assets/4.jpg" style="max-height:300px;max-width:300px">
        </li> 
    </ul>
</div>
<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="bigimg" style="width:100%">
</div>