<div class="about_section">
	<div class="container">
		<div class="col-md-6 about-left">
			<div class="col-md-6 cakeimg">
				<img src="assets/s1.jpg" alt="image" />
				<img src="assets/s4.jpg" alt="image" />
			</div>
			<div class="col-md-6 cakeimg cakeimg2">
				<img src="assets/s1.jpg" alt="image" />
				<img src="assets/s1.jpg" alt="image" />
			</div>
			<div class="clearfix"> </div>
		</div> 
		<div class="col-md-6 about_right">
			<h3>What we do!</h3>
			<h3 class="bold">with love</h3>
			<p>We are a team of professionals who have worked in various etc etc!!</p>
			<a href="#about" class="hvr-bounce-to-right read scroll"><span class="fa fa-birthday-cake" aria-hidden="true"></span>Read More</a>
		</div> 
		<div class="clearfix"> </div>
	</div>
</div>

<!-- team -->
<div class="team" id="team">
  <div class="agile_dot_info two">
 <div class="container">
 <h3 class="heading">Our Team</h3>
   <div class="agileits_team_grids">
     <div class="col-md-3">
     <div class="agileits_team_grid">
       <div class="agileits_team_grid_figure">
         <img src="assets/s4.jpg" alt=" " class="img-responsive" />
       </div>
       <h4>Srinath Subramanian</h4>
       <div class="social-icon">
         <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
         <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
         <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
         <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
       </div>
     </div>
     </div>
     <div class="col-md-3">
     <div class="agileits_team_grid">
       <div class="agileits_team_grid_figure">
         <img src="assets/s1.jpg" alt=" " class="img-responsive" />
       </div>
       <h4>Ravi Chandran</h4>
       <div class="social-icon">
         <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
         <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
         <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
         <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
       </div>
     </div>
     </div>
     <div class="col-md-3">
     <div class="agileits_team_grid">
       <div class="agileits_team_grid_figure">
         <img src="assets/1.jpg" alt=" " class="img-responsive" />
       </div>
       <h4>Member 3</h4>
       <div class="social-icon">
         <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
         <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
         <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
         <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
       </div>
     </div>
     </div>
     <div class="col-md-3">
     <div class="agileits_team_grid">
       <div class="agileits_team_grid_figure">
         <img src="assets/s1.jpg" alt=" " class="img-responsive" />
       </div>
       <h4>Member 4</h4>
       <div class="social-icon">
         <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
         <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
         <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
         <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
       </div>
     </div>
     </div>
     <div class="clearfix"> </div>
   </div>
 </div>
</div>
</div>
<!-- //team -->