<div class="well well-sm text-center">Our Recent works!!</div>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <!-- <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Jkk0VHiCnKY" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/F-eMt3SrfFU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div> -->
        <div class="row">
          <div id="R1" class="player" 
          data-property="{videoURL:'https://www.youtube.com/watch?v=RFinNxS5KN4',containment:'self',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1}">
        </div>
        </div>   
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="work-details">
          <h5 class="work-details-title font-alt">Project Details</h5>
          <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
          <ul>
            <li><strong>Client: </strong><span class="font-serif"><a href="#" target="_blank">SomeCompany</a></span>
            </li>
            <li><strong>Date: </strong><span class="font-serif"><a href="#" target="_blank">23 November, 2015</a></span>
            </li>
            <li><strong>Online: </strong><span class="font-serif"><a href="#" target="_blank">www.example.com</a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="coverflow">
  <ul class="flip-items">
      <li data-flip-title="Red">
          <img src="assets/a.jpg" style="max-height:300px;max-width:300px">
      </li>
      <li data-flip-title="Razzmatazz" data-flip-category="Purples">
          <img src="assets/b.jpg" style="max-height:300px;max-width:300px">
       </li>
      <li data-flip-title="Deep Lilac" data-flip-category="Purples">
          <img src="assets/c.jpg" style="max-height:300px;max-width:300px">
      </li>
      <li data-flip-title="Daisy Bush" data-flip-category="Purples">
          <img src="assets/s1.jpg" style="max-height:300px;max-width:300px">
      </li>
      <li data-flip-title="Cerulean Blue" data-flip-category="Blues">
          <img src="assets/tt.jpg" style="max-height:300px;max-width:300px">
      </li>
      <li data-flip-title="Dodger Blue" data-flip-category="Blues">
          <img src="assets/s4.jpg" style="max-height:300px;max-width:300px">
      </li>
      <li data-flip-title="Cyan" data-flip-category="Blues">
          <img src="assets/4.jpg" style="max-height:300px;max-width:300px">
      </li>
      <li data-flip-title="Robin's Egg" data-flip-category="Blues">
          <img src="assets/footer.jpg" style="max-height:300px;max-width:300px">
      </li>
      <li data-flip-title="Deep Sea" data-flip-category="Greens">
          <img src="assets/a.jpg" style="max-height:300px;max-width:300px">
      </li>
      <li data-flip-title="Apple" data-flip-category="Greens">
          <img src="assets/b.jpg" style="max-height:300px;max-width:300px">
      </li>
  </ul>
</div>