.module,
.module-small {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* Module header */
.module-small {
  padding: 70px 0;
}

.module-extra-small {
  padding: 25px 0px;
}

.module-medium {
  padding: 75px 0px;
}

.work-details {
    margin: 0 0 20px;
  }
  
  .work-details-title {
    color: #111;
    margin: 0 0 20px;
  }
  
  .work-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .work-details ul > li {
    border-bottom: 1px dotted #c2c2c2;
    padding: 0 0 5px;
    margin: 0 0 5px;
  }


.font-alt {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .font-serif {
    font-family: Volkhov, "Times New Roman", sans-serif;
    font-style: italic;
  }