#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -90px; /* Position them outside of the screen */
    margin-top:100px;
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 200px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

@media screen and (max-height: 650px) {
    #mySidenav a {padding-top: 15px; position: relative; width:40%; height: 40%;}
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#sb1 {
    top: 20px;
    background-color: #4CAF50;
}

#sb2 {
    top: 80px;
    background-color: #2196F3; /* Blue */
}

#sb3 {
    top: 140px;
    background-color: #f44336; /* Red */
}

#sb4 {
    top: 200px;
    background-color: #555 /* Light Black */
}