<p>
  blog works!
</p>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <div class="post">
            <div class="post-thumbnail"><a href="#"><img src="assets/footer.jpg" alt="Blog-post Thumbnail"/></a></div>
            <div class="post-header font-alt">
              <h2 class="post-title"><a href="#">Capture of the Day</a></h2>
              <div class="post-meta">By&nbsp;<a href="#">Srinath</a>| 23 November | 2018 | <a href="#">Photography, </a><a href="#">Web Design</a>
              </div>
            </div>
            <div class="post-entry">
              <p>A beautiful picture captured in Redmi note 3..note3diaries..vasthu seri illa..</p>
            </div>
            <div class="post-more"><a class="more-link" href="#">Read more</a></div>
          </div>
    </div>
  </div>
</div>

