<div id="myModal" class="modal fade active" data-backdrop="false" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Our Services</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pho">Phone:</label>
                        <input type="number" class="form-control" id="pho">
                    </div>
                    <div class="container">
                        <h4>Photography!</h4>
                        <div class="form-group">
                            <div class="checkbox">
                                    <label><input type="checkbox">Wedding Photography</label>
                            </div>
                            <div class="checkbox">
                                    <label><input type="checkbox">Wedding Photography</label>
                            </div>
                        </div>
                    </div> 
                    <div class="container">
                            <h4>Video Services!</h4>
                            <div class="form-group">
                                <div class="checkbox">
                                        <label><input type="checkbox">Wedding Photography</label>
                                </div>
                                <div class="checkbox">
                                        <label><input type="checkbox">Wedding Photography</label>
                                </div>
                            </div>
                        </div>     
                </form>
            </div>

                <!-- <div class="dropdown">
                    <label for="package">Select Package:</label>
                    <button class="btn btn-primary dropdown-toggle" id="package" type="button" data-toggle="dropdown">Packages
              <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Package1</a></li>
                        <li><a href="#">Package2</a></li>
                        <li><a href="#">Package3</a></li>
                        <li><a href="#">Custom</a></li>
                    </ul>
                </div> -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>